<link href="assets/css/whatsapp.css" rel="stylesheet">


<div id="qlwapp" class="qlwapp-free qlwapp-bubble qlwapp-bottom-left qlwapp-all qlwapp-rounded qlwapp-js-ready desktop">
  <div class="qlwapp-container">
        <a class="qlwapp-toggle" data-action="open" data-phone="+91 93750 63029" data-message="WhatsApp Chat" href="https://api.whatsapp.com/send?phone=+9193750 63029&amp;text=Hi, I am contacting you from your website Deepshri Group.com" target="_blank">
                <i class="qlwapp-icon qlwapp-whatsapp-icon wp"></i>
            <i class="qlwapp-close" data-action="close">×</i>
          </a>
  </div>
</div>



<footer class="site-footer">
<img src="assets/images/icons/footer-bg-icon-1.png" class="site-footer__shape-1" alt="">
<img src="assets/images/icons/footer-bg-icon-2.png" class="site-footer__shape-2" alt="">
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
<div class="footer-widget">
<a href="index.html" class="footer-widget__Logo">
<img src="assets/images/logow.png" width="250" alt="">
</a>
<p style="text-align:justify;">Deepshri Group is into business of Financial Services / Trading Of Building Materials, AutoCare Services & ShedNet Manufacturer
</p>
<form action="#" data-url="YOUR_MAILCHIMP_URL" class="mc-form">
<input type="email" name="EMAIL" placeholder="Email Address">
<button type="submit"><i class="agrikon-icon-right-arrow"></i></button>
</form>
<div class="mc-form__response"></div>
<div class="footer__social">
<a href="#" class="fab fa-facebook-square"></a>
<a href="#" class="fab fa-twitter"></a>
<a href="#" class="fab fa-pinterest-p"></a>
<a href="#" class="fab fa-instagram"></a>
</div>
</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">
<div class="footer-widget footer-widget__links-widget">
<h3 class="footer-widget__title">Links</h3>
<ul class="list-unstyled footer-widget__links">
<li><a href="deepshri-group">Home</a></li>
<li><a href="about-us">About us</a></li>
<li><a href="deepshri-enterprise">Deepshri Enterprise</a></li>

</ul>
</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">
<div class="footer-widget footer-widget__links-widget">
<h3 class="footer-widget__title">Links</h3>
<ul class="list-unstyled footer-widget__links">

<li><a href="deepshri-autocare">Deepshri Autocare</a></li>
<li><a href="deepshri-polynet">Deepshri Polynet</a></li>
<li><a href="contact-us">Contact Us</a></li>
</ul>
</div>
</div>
<!--
<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
<div class="footer-widget">
<h3 class="footer-widget__title">News</h3>
<ul class="list-unstyled footer-widget__post">
<li>
<img src="assets/images/resources/footer-post-1.png" alt="">
<div class="footer-widget__post-content">
<span>Nov 16, 2020</span>
<h4><a href="blog-details.html">How to grow vagetables in the forms</a></h4>
</div>
</li>
<li>
<img src="assets/images/resources/footer-post-2.png" alt="">
<div class="footer-widget__post-content">
<span>Nov 16, 2020</span>
<h4><a href="blog-details.html">How to grow vagetables in the forms</a></h4>
</div>
</li>
</ul>
</div>
</div>-->
<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
<h3 class="footer-widget__title">Contact Us</h3>
<ul class="list-unstyled footer-widget__contact">
<li>
<i class="agrikon-icon-telephone"></i>
<a href="tel:+91 93750 63029">+91 93750 63029</a>
</li>
<li>
<i class="agrikon-icon-email"></i>
<a href="mailto:info@deepshrigroup.com"><span >info@deepshrigroup.com</span></a>
</li>
<li>
<i class="agrikon-icon-pin"></i>
<a href="#">N.H.48, Vapi, 396 195, India</a>
</li>
</ul>
</div>
</div>
</div>
</footer>
<div class="bottom-footer">
<div class="container">

<p style="text-align:center;">© Copyright <script> document.write(new Date().getFullYear())</script> All Rights Reserved by www.deepshrigroup.com</p>

<div class="bottom-footer__links">
<!--
<a href="#">Terms & Conditions</a>
<a href="#">Privacy Policy</a>
<a href="#">Sitemap</a>-->

<p>
<b>
<a title="Enlightened Digital : website designing company in vapi, software company in vapi, digital marketing company in vapi" target="_en" href="http://www.enlighteneddigital.in/"> Made with   <i style="padding-left:4px;padding-right:4px;" class="fa fa-heart loveicon"></i>  by  <img style="padding-left:5px;" src="assets/images/edm.gif" alt="edm" class="edm" /> </a>
</b>
</p>

</div>
</div>
</div>
