<script>(function(w, d) { w.CollectId = "62594cbda20f4c4498135d6e"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.async=true; s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script>
<style>
.edm {
    height: 32px;
    width: auto;
}
</style>

<header class="main-header">
<div class="topbar">
<div class="container">
<div class="topbar__left">
<div class="topbar__social">
<a href="#" class="fab fa-facebook-square"></a>
<a href="#" class="fab fa-twitter"></a>
<a href="#" class="fab fa-pinterest-p"></a>
<a href="#" class="fab fa-instagram"></a>
</div>
<p>Welcome to Deepshri Group</p>
</div>
<div class="topbar__right">
<a href="#"><i class="agrikon-icon-email"></i><span >info@deepshrigroup.com</span></a>
<a href="#"><i class="agrikon-icon-clock"></i>Mon - Sat 8:00 AM - 7:00 PM, Sunday - CLOSED</a>
</div>
</div>
</div>
<nav class="main-menu">
<div class="container">
<div class="logo-box">

<!-- this is for pc--->
<a href="deepshri-group" aria-label="logo image" class="d-none d-md-block">
	<img src="assets/images/logod2.png"  width="173" alt="" style="width:185px;margin-bottom:-55px;margin-top:-55px;">
</a>


<!-- this is for phone--->
<a href="deepshri-group"  class="d-md-none d-lg-none"aria-label="logo image">
	<img src="assets/images/logod2.png"  width="173" alt="" style="width:170px;margin-bottom:0px;margin-top:0px;">
</a>

<span class="fa fa-bars mobile-nav__toggler"></span>
</div>
<ul class="main-menu__list">
<li >
<a href="/">Home</a>
<!--
<ul>
<li>
<a href="index.html">Home One</a>
</li>
<li><a href="index-2.html">Home Two</a></li>
<li class="dropdown">
<a href="#">Header Styles</a>
<ul>
<li><a href="index.html">Header One</a></li>
<li><a href="index-2.html">Header Two</a></li>
</ul>
</li>
</ul>-->
</li>
<li>
<a href="/about">About Us</a>
</li>
<li>
<a href="deepshri-Portfolio">Portfolio</a>
</li>
<li class="dropdown"><a href="#">Our Businesses</a>
<ul>
<li><a href="deepshri-enterprise">Deepshri Enterprise</a></li>
<li><a href="deepshri-autocare">Deepshri Autocare</a></li>
<li><a href="deepshri-polynet">Deepshri Polynet</a></li>
<!--
<li><a href="service-details.html">Service Details</a></li>-->

</ul>
</li>

<!--

<li class="dropdown">
<a href="projects.html">Projects</a>
<ul>
<li><a href="projects.html">Projects</a></li>
<li><a href="project-details.html">Projects Details</a></li>
</ul>
</li>
<li class="dropdown"><a href="blog.html">News</a>
<ul>
<li><a href="blog.html">News</a></li>
<li><a href="blog-details.html">News Details</a></li>
</ul>
</li>

--->


<li>
<a href="contact-us">Contact Us</a>
</li>
<li >
<a href="deepshri-feedback">Feedback</a>
</li>

</ul>

<div class="main-header__info">

<a href="tel:+919375063029" class="main-header__info-phone">
<i class="agrikon-icon-phone-call"></i>
<span class="main-header__info-phone-content">
<span class="main-header__info-phone-text">Call Anytime</span>
<span class="main-header__info-phone-title">93750 63029</span>
</span>
</a>
</div>
</div>
</nav>

</header>